* {
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  vertical-align: baseline;
  color: #666;
  font-family: sans-serif;
  font-size: 16px;
}

html, body {
  background: #FFF;
}

body {
  margin: 5%;
}

h1, h2, h3 {
  display: inline-block;
  color: #000;
}

h1 {
  font-size: 3em;
  transition: color 3.666s;
}

h2 {
  font-size: 3em;
  font-weight: 100;
}

h3 {
  font-size: 2em;
  font-weight: 100;
  color: #666;
}

h4 {
  font-size: 1.5em;
  font-weight: 900;
  color: #000;
}

a, a * {
  margin-right: 6.66px;
  color: #000;
  transition: color 3.666s;
}

a:hover, a:hover *, .∴ {
  color: #7b137c;
  transition: color 0.666s;
}

.nav h1 {
  color: #7b137c;
  text-shadow: 1px 1px 3px #666;
}

.dashboard {
  margin-top: 3em;
}

.dashboard p:first-of-type {
  margin-top: 3em;
}

.dashboard p {
  margin-top: 0.666em;
}